body {
	background-color: #000000;
	/*
	background-image: url("penjisuit2.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top right;
	*/
	color: #ffffff;
	text-align: center;
}

div {

}

.nav_bar {
	background-color: #000000;
	color: #ffffff;
	font-size: #25px;
	font-family: "Lucida Console", Monospace;
}

.nav_button {
	background-color: #b30000;
	color: #ffffff;
	padding: 1vh 3vw;
	font-size: 2vw;
	border-width: 0.1vw;
	border-radius: 1vw;
	width: 15vw;

}

.title {
	text-align: center;
	font-size: xx-large;
}

.options_list {
	text-align: left;
	align-items: center;
}

.options_button {
	background-color: #b30000;
	color: #ffffff;
	padding: 1vh 3vw;
	font-size: 2vw;
	border-width: 0.1vw;
	border-radius: 1vw;
	width: 15vw;
	margin: 1vh;
}

.contact_head {
	text-align: left;
}

.contact {
	text-align: left;
	margin: 1vh;
}

#LinkedIn {
	color: #ffffff;
	text-decoration: none;
}