body {
	background-color: #000000;
	color: #ffffff;
	text-align: center;
	font-family: "Lucida Console", Monospace;
}

.nav_bar {
	background-color: #000000;
	color: #ffffff;
	font-size: #25px;
	font-family: "Lucida Console", Monospace;
}

.nav_button {
	background-color: #b30000;
	color: #ffffff;
	padding: 1vh 3vw;
	font-size: 2vw;
	border-width: 0.1vw;
	border-radius: 1vw;
	width: 15vw;

}

.title {
	text-align: center;
	font-size: xx-large;
}

.interest_block {
	border-style: double;
	border-width: 1vw;
	border-color: #b30000;
	border-radius: 3vw;
	margin: 2vh;
}

div.interest_title {
	
}

h3.interest_title {
	text-align: left;
	position: relative;
	margin: 1vh 2vw;
}

.interest_description {
	text-align: left;
	position: relative;
	left: 2vw;
}